*{
    margin: 0px;
    padding: 0;
    text-decoration: none;
    list-style:none ;
   
}
.navbar .logo{
 color: white;
 position: absolute;
  left: 25px;
  font-size: 35px;
  line-height: 80px;
  padding: 0 80px;
  font-size: 2em;
  font-weight: bold;
 
}
.navbar #active ion-icon {
    color:white;
    height: 100%;
    font-size: 1.8em;
}


 .listes2{ 
    position: absolute;
    width:15%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    top: 120px;
   
}

.navbar{
    position: absolute;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background-color: rgb(4, 44, 54);
}
.navbar .nav-links ul {
    float:right;
    margin-right: 100px;
    display: flex;
}
.navbar .nav-links ul li {
   display: inline-block;
   line-height: 80px;
    margin: 0 30px;
  
}
.navbar .nav-links ul li a{
    color: white; 
    font-size: 17px;
    text-transform: uppercase ;
}
.navbar .nav-links ul li.active a {
    color:white;
    font-weight: 600;
}


.container{
    
    position: absolute;
    width:50% ;
    height: 50%;
    top: 200px;

}
.space {
    width: 5px;
    height: auto;
    display: inline-block;
  }

article .buttons{
   display: inline-flex;
   height: 50px;
   padding: 0;
   background-color: white;
   outline: none;
   font-family: 'Quicksand',sans-serif;
   font-size: 14px;
   font-weight:bold ;
   cursor: pointer;
   position: absolute;
   border: none;
   border-radius: 25px;
   margin-right:  20px;
}

article .buttons .button-icon{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: blue;
    height: 100%;
    font-size: 1.5em;

}

article .buttons .button-text{
    color: blue;
    position: center;
  
}

article  p1 {
    position: absolute;
    width:100% ;
    height: 50%;
    top: 150px;
}
article p2 {
    position: absolute;
    width:100% ;
    height: 50%;
    top: 180px;
}
article .buttonMove{
    position: relative;

}
.main{
   
  
   
}
.description{
    float:right;
    position: absolute;
    width:100% ;
    height: 50%;
    top: 600px;
}
.description img{
    float: left;
		display: block;
        width: 150px;
        height: 150px;
		margin: auto;
		border: 3px solid white;
        border-radius: 5px;
}
.content p{
   
    position: absolute;
    width:80% ;
    height: 50%;
    top: 800px;
}



@media(max-width: 952px){
    .navbar .logo{
        font-size: 10px;
       
    }
    .navbar .nav-links ul li a{
        font-size: 15px;
    }

}
@media(max-width: 858px){
    #active{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: blanchedalmond;
        top:80px;
        left:-100%;
        text-align: center;
        transition :all .5s;
    }
    .navbar .nav-links ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

     .navbar .nav-links ul li a{
         font-size: 10px;
     }
     
    

}

